@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
}

.hero {
  --nav-height: 100px;
  position: relative;
  margin-top: calc(var(--nav-height) * -1);
  padding-top: calc(var(--nav-height) + 20px);
  background-image: url(/assets/aurora.png);
  background-position: center;
  height: 724px;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-image: url(/assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
