@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --clr-primary-20: #3385ff21;
  --clr-primary-100: #3284ff;
  --clr-primary-200: #4991ff;
  --clr-primary-300: #0066ff;
  --clr-primary-400: #005ae0;
  --gradient-gray-linear: linear-gradient(#112232, #4d6b88);
}

html {
  /* color-scheme: light dark; */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.hero {
  --nav-height: 100px;
  margin-top: calc(var(--nav-height) * -1);
  padding-top: calc(var(--nav-height) + 20px);
  background-image: url(/assets/aurora.png);
  background-position: center;
  min-height: 724px;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-image: url(/assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.with-left-highlighter {
  position: relative;
  /* margin-inline-start: 1rem; */
}
.with-left-highlighter::before {
  content: "";
  position: absolute;
  width: 5px;
  left: 0;
  top: 0;
  bottom: 0;
  margin-inline-start: -0.5rem;
  background: var(--gradient-gray-linear);
}
